/* Общие стили */
body {
  font-family: Arial, sans-serif;
  margin: 40px;
  transition: background-color 0.3s, color 0.3s;
}

h1 {
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Светлая тема */
body.light {
  background-color: #f9f9f9;
  color: #333;
}

/* Тёмная тема */
body.dark {
  background-color: #1e1e1e;
  color: #f0f0f0;
}
