doctype html
html
  head
    title User Detail
    link(rel="icon", href="/favicon.ico")
    link(rel="stylesheet", href="/styles.css")
  body(class=theme)
    h1 #{user.name}
    p Age: #{user.age}
    a(href="/users") â† Back to users
